.unread-message-count {
  display: block;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  min-width: 20px;
  text-align: center;
}


.btn1 {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  width: 150%;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0;
  z-index: -1;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.btn1:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn1:hover::before {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  opacity: 1;
}

/* CSS */
.li-max-width {
    max-width: 600px;  /* Defina o valor máximo que deseja */
}

