.platform-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .platform-icon:hover .communication-popup {
    display: block;
  }
  

  .communication-popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding: 8px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .observation-field {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
  }

  .down{
    animation: slideInFromDown 1s ease-in-out;
  }
  .up{
    animation: slideInFromUp 1s ease-in-out;
  }
  .right {
    animation: slideInFromRight 1s ease-in-out;}

  .width{
    width: 100%;
  }

  .map_icon{
    font-size: 18px;
    cursor: pointer;
  }
  .fade-out {
    animation: fadeOut 1.2s ease-in-out;
  }
  .select{
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .selected-entregue {
    background-color: green;
    border: #ccc 1px  transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .selected-em  {
    background-color: orange;
    border: #ccc 1px solid transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .selected-pronto  {
    background-color: yellow;
    border: #ccc 1px solid transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
  }
  
  .selected-a  {
    background-color: yellow;
    border: #ccc 1px solid  transparent;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
  }

  .btn {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    width: 150%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    z-index: -1;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover::before {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    opacity: 1;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  @keyframes slideInFromDown {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromUp { 
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }